<!-- Edit Package Item Modal -->
{% load selectable_tags %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/jquery-ui-1.8.23.css' %}" type="text/css">
{{ form.media.css }}
{{ form.media.js }}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel">Add Package Item</h4>
</div>


<div class="modal-body col-md-12">
  <form role="form" id="create-package-item-form">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="form-group col-md-8">
      <label for="{{ form.catalog_item.id_for_label }}">{{ form.catalog_item.label }}</label><br />
      {% if form.catalog_item.errors %}
        <div class="alert alert-danger">
          {{ form.catalog_item.errors }}
        </div>
      {% endif %}
      {{ form.catalog_item }}
    </div>
    {% include 'catalog/number_field.html' with field=form.quantity width=4 %}
  </form>
</div>

<div class="modal-footer">
  <div class="centered">
    <button type="button" class="btn btn-solid-primary"
        id="add-package-item-button">Save</button>
    <div class="text-action-btn" data-dismiss="modal">Cancel</div>
  </div>
</div>
