{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Change/Reset" %}{% endblock %}

{% block content %}
<div class="col-md-12">
  <h2>Password Reset</h2>

  <p>{% trans "Forgotten your password? Want to change it? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

  <form action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
    <div class="row">
      <div class="form-group col-md-3">
        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {% if form.email.errors %}
          <div class="alert alert-danger">
            {{ form.email.errors }}
          </div>
        {% endif %}
        <input type="text" class="form-control" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <input class="btn btn-solid-primary" type="submit" value="{% trans 'Reset my password' %}" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
