{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}
<div class="col-md-12">
  <h2>{% trans 'Password change' %}</h2>

  <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

  <form action="" method="post">{% csrf_token %}
    {{ form.old_password.errors }}
    <div class="row">
      <div class="form-group col-md-3">
        <label for="{{ form.old_password.id_for_label }}">{% trans 'New password:' %}</label>
        {% if form.old_password.errors %}
          <div class="alert alert-danger">
            {{ form.old_password.errors }}
          </div>
        {% endif %}
        <input type="password" class="form-control" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}">
      </div>
    </div>
    {{ form.new_password1.errors }}
    <div class="row">
      <div class="form-group col-md-3">
        <label for="{{ form.new_password1.id_for_label }}">{% trans 'New password:' %}</label>
        {% if form.new_password1.errors %}
          <div class="alert alert-danger">
            {{ form.new_password1.errors }}
          </div>
        {% endif %}
        <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}">
      </div>
    </div>
   {{ form.new_password2.errors }}
    <div class="row">
      <div class="form-group col-md-3">
        <label for="{{ form.new_password2.id_for_label }}">{% trans 'Confirm password:' %}</label>
        {% if form.new_password2.errors %}
          <div class="alert alert-danger">
            {{ form.new_password2.errors }}
          </div>
        {% endif %}
        <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <input class="btn btn-solid-primary" type="submit" value="{% trans 'Change my password' %}" />
      </div>
    </div>
  </form>
</div>
  <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
<div>
{% endblock %}




