{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="col-md-12">
{% if validlink %}
  <h2>{% trans 'Enter new password' %}</h2>

  <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

  <form action="" method="post">{% csrf_token %}
    <div class="row">
      <div class="form-group col-md-3">
        <label for="{{ form.new_password1.id_for_label }}">{% trans 'New password:' %}</label>
        {% if form.new_password1.errors %}
          <div class="alert alert-danger">
            {{ form.new_password1.errors }}
          </div>
        {% endif %}
        <input type="password" class="form-control" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.html_name }}">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="{{ form.new_password2.id_for_label }}">{% trans 'Confirm password:' %}</label>
        {% if form.new_password2.errors %}
          <div class="alert alert-danger">
            {{ form.new_password2.errors }}
          </div>
        {% endif %}
        <input type="password" class="form-control" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.html_name }}">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <input class="btn btn-solid-primary" type="submit" value="{% trans 'Change my password' %}" />
      </div>
    </div>
  </form>
</div>
{% else %}

  <h2>{% trans 'Password reset unsuccessful' %}</h2>

  <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock %}
