{% extends 'base-datatables.html' %}
{% load static from staticfiles %}

{% block modals %}
  {% include 'cts/modal_placeholder.html' with id='donorcode_edit_modal' %}
  {% include 'cts/modal_placeholder.html' with id='new_donorcode_modal' %}
{% endblock modals %}

{% block content %}
  <div class="page-top">
    <!-- left-side  -->
    <div class="left-side">
     <div style="margin-left:-15px;">
        <button class="btn btn-outline" data-toggle="modal" data-target="#newdonorcode-modal" id="new-donorcode-button" data-url="{% url 'new_donorcode_modal' %}">
          <i class="fa fa-plus"></i> New donor code
        </button>
      </div>
    </div><!-- End left-side  -->
  </div>
  <!-- donorcode-table-1 -->
  <div class="row">
    <div class="col-md-12">
      <table id="donorcode-table-1" class="table table-striped hidden" cellspacing="0" width="100%" >{# hide before it's ever rendered, we'll show later after we're done updating it #}
        <thead>
          <tr>
            <th>Code</th>
            <th>Type</th>
            <th class="sorting_disabled"></th>
            <th class="sorting_disabled"></th>
          </tr>
        </thead>
        <tbody>
          {% for donorcode in object_list %}
            <tr>
              <td><p class="donorcode-td">{{ donorcode.code }}</p></td>
              <td><p class="donorcode-td">{{ donorcode.donor_code_type|title }}</p></td>
              <td><a href="#" class="donorcode-edit-pencil" data-url="{% url 'edit_donorcode_modal' donorcode.pk %}"><i class="fa fa-pencil"></i></a></td>
              <td><a href="{% url 'donorcode_delete' donorcode.pk %}"><i class="fa fa-times"></i></a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div><!-- End col-md-12 -->
  </div><!-- End items-table-1  -->
{% endblock content %}{

{% block extra-js %}
  {{ block.super }}
  <!-- tables and modals -->
  <script type="text/javascript" charset="utf-8" src="{% static 'js/modals.js' %}"></script>
  <script type="text/javascript" charset="utf-8" src="{% static 'js/donorcode.js' %}"></script>
{% endblock extra-js %}
